<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Boggle Game</title>
        <link rel="stylesheet" href="/static/style.css" />
    </head>
    <body>
        <section id="boggle">
            <div>
                <h1>Welcome to Boggle! Let's Play.</h1>
            </div>
            <p>High Score:
                <b>{{ highscore }}</b>
                in {{ num_plays }} plays
            </p>
            <p>
                Score: <b class="score">0</b>
                <br />
                Seconds Left:
                <b class="timer"></b>
            </p>
            <div class="board">
                <table>
                    <tbody>
                        {% for row in board %}
                        <tr class="row">
                            {% for letter in row%}
                            <td>{{letter}}</td>
                            {%endfor%}
                        </tr>
                        {%endfor%}
                    </tbody>
                </table>
            </div>
            <div class="response">
                <div id="response"></div>
            </div>
            <div class="guess-div">
                <h2>Guess</h2>
                <form method="post" class="guess-form">
                    <input
                        type="text"
                        name="guess"
                        class="guess"
                        placeholder="Enter a guess here:"
                        autofocus
                    />
                </form>
            </div>
            <p class="msg"></p>
            <ul class="words"></ul>
        </section>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="/static/app.js"></script>
        <script>
            let game = new BoggleGame("boggle");
        </script>
    </body>
</html>
